// *-*-*-*-*-*-*-*-*-*-*-* Font-Size *-*-*-*-*-*-*-*-*-*-*-*-*
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

// *-*-*-*-*-*-*-*-*-*-*-* Colors *-*-*-*-*-*-*-*-*-*-*-*-*
html {
	--color-primary: #fff;
	--color-secondary: #26762c; 
	--color-secondary-m: #018141;
	--color-tertiary: #666666;
	--color-tertiary-m: #999;
	--color-quaternary:#003049;
	--color-quinary: #66cc33;
	--color-baseline: #FF3317;
	--color-sixtary: #ff7606;
	--color-seventery: #f2f2f2;
}