.header__nav{
	grid-column: center-start / container-end;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: font-size(font-size-regular); 
	letter-spacing: 1.4px;
	
	&--log {
		position: absolute;
		top: 3vh;
		left: 2vw;
	}
	
	&--background {
		position: absolute;
		background-image: url(../img/showcase/image-1.png);
		height: 100vh;
		top: 0;
		left: 0;
		width: 100vw;
		@extend %bg;
		z-index: -10;
		border-bottom: 4px solid #000;
	}
	
	&--links {
		display: flex;
		align-items: center;
		padding: 2rem;
		position: relative;

		&:first-child {
			::before {
				content: "";
				position: absolute;
				bottom: 1rem;
				left: 2.5rem;
				height: 20px;
				width: 2px;
				background-color: #fff;
				transform: rotate(90deg);
			}
		}
	}

	&--language {
		display: flex;
		align-items: center;
		margin-right: 2rem;
	}

	// *-*-*-*-*-*-*-*-*-*- The 600px Mark Break Point *-*-*-*-*-*-*-*-*-*-*-*-*
	@include media-medium { 
		flex-direction: column;

		&--links {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// padding: 0;
			overflow: hidden;
		}
		
		&--language {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 1rem;
		}

	}
}