.history {
	grid-column: center-start / container-end;
	display: flex;
	justify-content: center;
	place-items: start;
	height: 35vh;
	position: relative;

	&__text {
		display: flex;
		align-items: space-between;
		margin: 3rem;
		
		&--title {
			text-transform: uppercase;
			letter-spacing: 1px;
			color: var(--color-secondary);
			margin-right: 1rem;
			padding: 1rem;
		}
		
		&--info {
			&__accessories {
				font-size: font-size(font-size-medium);
				margin-bottom: 2rem;
				letter-spacing: .3px;
				font-weight: 500;	
			}

			&__par {
				font-size: font-size(font-size-regular);
				letter-spacing: 1px;
				color: var(--color-quaternary);
				line-height: 2;
			}
		}
	}


	&__link {
		position: absolute;
		@extend %buttom;
		border: 1px solid var(--color-sixtary);
		bottom: 5rem;
		right: 10rem;

		img {
			margin-left: 4rem;
		}
	}
}