.rackets {
	
	&__about {
		display: grid;
		grid-column: container-start / 4;
		height: 60vh;
		background-color: red;
		background: linear-gradient(rgba(0, 0, 0, .098), rgba(0, 0, 0, .098)), url(../img/rackets/image-1.png);
		background-repeat: no-repeat;
		background-size: cover;
		
		&--field {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-evenly;
			margin: 0 8rem 0 18rem;
			// overflow-wrap: break-word;
			
			&__title {
				font-size: 3rem;
				color: var(--color-primary);
				font-weight: 500;
				
				span{
					word-wrap: break-word;
					font-weight: 700;
				}
			}

			&__par {
				color: var(--color-primary);
				line-height: 1.7;
				letter-spacing: 1px;	
			}

			&__oval {
				img {
					padding-right: 2rem;
				}
			}

			&__play {
				display: flex;
				align-items: flex-start;
				justify-content: center;	

				img:first-child {
					transform: rotate(180deg);
					padding: 1rem;
					border: 1px solid var(--color-primary);
					border-radius: 50%;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					width: 3.5rem;
					height: 3.5rem;
				}
				img:last-child {
					margin-left: 1rem;
				}
			}
		}
	}
	
	&__types {
		display: grid;
		grid-column: 4 / container-end;
		background-color: blue;
		
	}
}