.footer {
	grid-column: container-start / container-end;
	height: 25vh;
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	
	&__nav,
	&__social {
		margin-left: 5vw;
	}

	&__nav {
		&--links {
			display: flex;
			margin-right: 3rem;
			padding: 1rem 0;
			color: var(--color-sixtary) !important;  //ver la forma de cambiar. 
			letter-spacing: 1px;
		}
	}
	
	&__social {
		&--icons {
			margin-right: 1rem;
		}
	}

	&__log {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		right: 3rem;
		cursor: pointer;
		
		& img {
			width: 4.5vw;
			height: 4.5vw;
		}
	}

	// *-*-*-*-*-*-*-*-*-*- The 800px Mark Break Point *-*-*-*-*-*-*-*-*-*-*-*-*
	@include media-tablet {	
		
	}

}