// *-*-*-*-*-**-*-*-*-*-*-* Import Styles *-*-*-*-*-*-**-*-*-*-*-*-*
@import "1.reset";
@import "2.variables";
@import "3.utilities";
@import "4.header";
@import "5.showcase";

// Background Properties
%bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

 // Background Properties
%sec-padding {
	padding: 6vh 4vw;
}