@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-primary: #fff;
  --color-secondary: #cbe346;
  --color-tertiary: #f06a0a;
  --color-quaternary:#787878;
  --color-quinary: #66cc33;
  --color-sixtary: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: min-content 90vh repeat(9, min-content);
}

li {
  list-style: none;
}

i {
  padding: 5px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  color: var(--color-primary);
}

.header__nav {
  grid-column: center-start/container-end;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  font-size: calc(0.5rem + 0.5vw);
  letter-spacing: 1.4px;
}
.header__nav--log {
  position: absolute;
  top: 2rem;
  left: 3rem;
}
.header__nav--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/showcase/image-1.png);
  z-index: -10;
  border-bottom: 4px solid #000;
}
.header__nav--links {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
}
.header__nav--links:first-child ::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 2.5rem;
  height: 20px;
  width: 2px;
  background-color: #fff;
  transform: rotate(90deg);
}
.header__nav--language {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.showcase {
  grid-column: center-start/7;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 70vh;
  padding: 0 3rem;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 8rem;
  height: 100vh;
  background-color: #fff;
  border: 2px solid var(--color-primary);
}
.showcase__content {
  position: relative;
}
.showcase__content--title {
  font-size: calc(1.5rem + 2.5vw);
  color: var(--color-primary);
}
.showcase__content--title span {
  color: var(--color-secondary);
  font-weight: 800;
  margin-left: 1rem;
}
.showcase__content--links {
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.history {
  grid-column: center-start/container-end;
  display: flex;
  justify-content: center;
  place-items: start;
  height: 30vh;
  position: relative;
}
.history__text {
  display: flex;
  align-items: space-between;
  margin: 3rem;
}
.history__text--title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-secondary);
  margin-right: 1rem;
  padding: 1rem;
}
.history__text--info__accessories {
  font-size: calc(1.5rem + 2vw);
  margin-bottom: 2rem;
  letter-spacing: 0.3px;
  font-weight: 500;
}
.history__text--info__par {
  font-size: calc(0.5rem + 0.5vw);
  letter-spacing: 1px;
  color: var(--color-quaternary);
  line-height: 2;
}
.history__link {
  position: absolute;
  border: 1px solid var(--color-sixtary);
  bottom: 5rem;
  right: 10rem;
}
.history__link img {
  margin-left: 4rem;
}

.header__nav--background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.showcase__content--links, .history__link {
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 4rem;
  font-size: calc(0.5rem + 0.5vw);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.showcase__content--links:hover, .history__link:hover {
  background-color: var(--color-secondary);
  color: var(--color-sixtary);
}/*# sourceMappingURL=main-style.css.map */